numpy
customtkinter
ultralytics
opencv-python
pillow
torch
easyocr
rapidfuzz
torchvision
torchaudio --index-url https://download.pytorch.org/whl/cu118

## 
##  Run this if hardware acceleration not succesful with install -r requirements.txt, quick nuance workaround to enable GPU.
##
## pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118 --upgrade --force-reinstall